*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* quicksand font  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* raleway font  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* full site setup */

:root{
    --primary-color:#000000;
    --btn-bg-color:#FEA301;
    --secondary-color:#202020;
}

/* shared css here  */
.width{
    max-width: 1200px;
    margin: 0 auto;
}

.btn-primary{
    padding: 10px;
    background-color: var(--btn-bg-color);
    color: white;
    font-size: 20px;
    font-weight: 500;
}

/* header start */
/* marquee tag start  */
.marquee-tag{
    background-color: blue;
    height: 11vh;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* marquee tag style end here  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.menu-item-1{
    color: var(--btn-bg-color);
}
.menu-item-2{
    font-weight: 500;
    color: #01ACFD;
}
.menu-item-3{
    font-weight: 500;
    color: blue;
}
.menu-item-4{
    font-weight: 500;
    color: #5D58EF;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-title{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--primary-color);
}

.logo-button{
    border: none;
    border-radius: 12px;
    font-size: 20px;
    line-height: 1.8rem;
    font-weight: 600px;
    padding: 10px 60px;
}
#hamburger-menu{
    display: none;
}
/* banner section start  */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 60px;
}
/* .banner-content{
    max-width: 640px;
} */
.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 3.9rem;
    max-width: 640px;
}
#custom-color-1{
    color: var(--btn-bg-color);
}
#custom-color-2{
    color: #01ACFD;
}
.banner-description{
    color: #111111;
    font-size: 1.25rem;
    max-width: 640px;
    margin: 24px 0;
    
}
.banner-button{
    padding: 10px 47px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.9rem;
    background-color: black;
    border: none;
    border-radius: 12px;
}

.banner-image img{
    max-width: 100%;
    
}
/* curriculum section start  */
.curriculum{
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  top center;
}
.curriculum-title{
    font-size: 2.8rem;
    color: #000000;
    font-weight: bold;
    line-height: 3.5rem;
    text-align: center;
}
.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #202020;
    margin-top: 32px;
}
.card-description{
    color: #808080;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 23px;
    line-height: 2rem;
}
.card-button{
    color: #22a6ed;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    margin: 33px auto 52px auto;
    background: none;
}
/* card allignment  */
.curriculum-card{
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 80px 0;
    gap: 25px;
   
    
}
.card{
    max-width: 370px;
    height: 480px;
    padding: 10px 60px;
    border: 1px solid #DEF5FF;
    border-radius: 20px;
    box-shadow: 0 0 29 1 rgba(0, 0, 0, 0.05);
}
.card-image{
    max-width: 100%;
    margin-top: 52px;
}
#card-btn-1{
    color: red;
    
}
#card-btn-2{
    color: #F0AA00;
    
}
#card-btn-3{
    color: #8700FF;
    
}
#card-item-1{
    background: linear-gradient(#75d1f9 0%,#FFFFFF 40%);
}
#card-item-2{
    background: linear-gradient(#dfae44 0%,#FFFFFF 40%);
}
#card-item-3{
    background: linear-gradient(#a96bfa 0%,#FFFFFF 40%);
}

/* currciulm btn  */
.curriculum-icon-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.curriculum-btn{
    width: 60px;
    height: 60px;
    background-color: var(--btn-bg-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#icon-btn{
    font-size: 1.5rem;
    color: white;
}


/* our stories button  */
.our-stories-btn{
    text-align: center;
    padding: 90px 0 50px 0;
}
.stories-bt{
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin: auto;

}



/* OUR STORIES NEW LATEST AFTER HTML RECODE  */
.our-stories{
    padding: 60px auto;
    background:url(../assets/bg.png), linear-gradient(to top,#fea101a3 0%,#FFFFFF 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}
.s-title{
    color: #000000;
    font-size: 2.9rem;
    font-weight: bold;
    line-height: 3.6rem;
    text-align: center;
    margin-bottom: 80px;
}

/* card item style  */
.stories-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 25px;
}
.card-items{
    background-color: #fff;
}
.card-global-btn{
    border: none;
    background: #3CD8E8;
    padding: 14px 19px;
    border-radius: 49px;
    color: white;
    font-weight: 500;
    font-size: 1rem;
}
#card-item-1-btn{
    margin: -30px 0 0 38px;
}
.card-item-1-title{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: #000000;
    margin: 36px 61px 0px 38px;
}
.card-item-1-description{
    font-size: 1rem;
    font-weight: 500;
    color: #666666;
    line-height: 1.7rem;
    margin: 47px 61px 34px 38px;
}
#stories-card-item-1{
    grid-row: span 2;
}

/* card-2-3-4-5 */
.stories-card-sub-title{
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.7rem;
    
    margin: 17px 54px 33px 38px;
}

/* button child div style  */
.child-card-items-btn{
    margin: -30px 0 0 38px;
}

/* CHILD BUTTON STYLE  */
    .card-child-global-btn{
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.9rem;
        padding: 10px 19px;
        border: none;
        border-radius: 49px;

    }
#card-item-2-btn, #card-item-5-btn, #card-item-4-btn{
    background-color: #95B226;
}
#card-item-3-btn{
    background-color: #5D58F0;
}
.card-items{
    border-radius: 15px;
}
.card-child-item-image{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.card-item-1-image{
    border-radius: 15px 15px 0 0;
}

/* test  */




/* footer start  */
footer{
    background-color: #01ACFD;
    padding: 110px 0 130px 0;
}

.footer-content{
    display: flex;
    align-items: start;
    justify-content: space-around;
}
.logo-title-img{
    display: flex;
    align-items: center;
}
.footer-img-logo{
    width: 20%;
    text-align: left;
}
.footer-title{
    font-size: 2.6rem;
    font-weight: bold;
    color: white;
    max-width: 200px;
}
.footer-des{
    max-width: 400px;
    color: #FFFFFF;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-top: 35px;
    margin-left: 10px;
    font-weight: 300;
}
.title{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
}

ul {
    margin-top: 32px;
}
ul li{
    list-style: none;
    margin: 20px 0;
}
ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.25rem;
}


.icon-title{
    font-size: 1.7rem;
    color: white;
    margin-bottom: 35px;
}




/* mobile responsive start */
@media screen and (max-width:576px){
    .main-menu, .menu-button, .logo-title, .curriculum-icon-btn{
        display: none;
    }
    nav{
       justify-content: space-between;

    }
    #hamburger-menu{
        display: block;
        font-size: 40px;
        margin-right: 20px;
    }
    #logo-image{
        margin-left: 20px;
    }
    /* banner css  */
    .banner{
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px;
    }
    .banner-content{
        margin-top: 20px;
    }
   /* curriculum css  */
   .curriculum{
    padding: 5px 20px;
    text-align: center;
   }
   .curriculum-card{
    flex-direction: column;
   }
   .card-description{
    padding: 0 20px;
   }

   /* our stories  */
 
   #stories-card-item-1{
    display: none;
   }


   .stories-card{
    grid-template-columns: repeat(2,1fr);
    padding: 20px;
    gap: 12px;
   }

.card-child-global-btn{
    padding: 5px 10px;
    font-size: .9rem;
}
   /* footer  */
   footer{
   max-width: 100%;
   }
   .footer-content{
    flex-direction: column;
    padding: 20px;
   }
   .footer-des{
    margin:10px 0;
   }
}


/* very small device responsive design  */